<div class="container mt-5" style="max-width: 640px;">
  <h1 class="text-center">Welcome to Longest Word Game!</h1>
  <h3 class="mt-3">Rule</h3>
  <p>The rule of the longest word game is super easy! You are given a random set of letters.
    You have to enter the longest English word you can find using only letters in the grid.
    After typing your answer, you get your score combined with the time you took, and eventually an error message if you failed. Good luck🤞
  </p>
  <%= link_to "Play new game!", new_path, class: "button-73" %>
</div>
